* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header{
  position: fixed;
  display: flex;
  height: 69px;
  z-index: 1;
  justify-content:space-around;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
  padding-left: 10px;
  flex-grow: 2;
}

.logo img {
  height: 50px;
}

nav {
  margin-right: auto;
}

nav span {
  display: inline-block;
  padding: 15px 10px;
}

.teabox img{
  width: 300px;
  height: 200px;
}

.content{
  background-color: black;
}
